footer.footer
    section.wrapper-links-block
        .container
            div.block-links
                h1 Company
                ul
                    li
                        a(href="") About Houzz
                    li
                        a(href="") In the News
                    li
                        a(href="") Press Info
                    li
                        a(href="") Careers
                    li
                        a(href="") Contact Us
                    li
                        a(href="") Terms of Use
                    li
                        a(href="") Privacy Policy
            div.block-links
                h1 Explore houzz
                ul
                    li
                        a(href="") Buttons & Badges
                    li
                        a(href="") Mobile Apps
                    li
                        a(href="") Advertise
                    li
                        a(href="") For Professionals
                    li
                        a(href="") Sell on Houzz
                    li
                        a(href="") Write a Review
                    li
                        a(href="") FAQs
            div.block-links.contacts-block
                h1 Contact
                ul
                    li
                        a(href="mailto:info@lightingdeluxe.com") info@lightingdeluxe.com
                    li
                        a(href="tel:+1-800-667-452") Australia: 1-800-667-452
                    li
                        a(href="tel:+1-888-642-8669") USA / Canada: 1-888-642-8669
                    li
                        a(href="tel:+49-351-84710961") +49-351-84710961
                ul
                    li
                        span Lichtkultur GmbH
                        span Flösserstr. 19a
                        span 01139 Dresden
    section.footer-middle
        .container
            .middle-block.payment
                h1 Payment Methods
                ul
                    li
                        a.fa.fa-cc-paypal(href="")
            .middle-block.connect
                h1 Connect with us
                ul
                    li
                        a.fa.fa-twitter(href="")
                    li
                        a.fa.fa-linkedin(href="")
                    li
                        a.fa.fa-vk(href="")
                    li
                        a.fa.fa-facebook-f(href="")
                    li
                        a.fa.fa-google-plus(href="")
    section.footer-bottom
        .container
            .copyright
                span ©
                | 2015 «Touch of Europe»
            a.firm-logo(href='http://tutmee.ru')
                div
                    span Создание дизайна
                    span и разработка сайтов
                    span LTD Tutmee.ru
                div
                    img(src='./images/firm-logo.png' width="214" height="68")