header.header
    .header-top
        .container
            a.logo(href="./") Touch of Europe
            .authentificition
                //a.sign-in(href="") Sign In
                // Последующие блоки a.private-office и ul.sub-links - выводить вместе
                a.private-office(href="./private-office.html") Ivan
                ul.sub-links
                    li
                        a(href="./private-office.html") Edit profile
                    li
                        form(method="post" action="#")
                            button Sign out
            .mini-cart
                a(href="")
                    span 0
                //если элементов больше 5, то добавляем класс div.inner-mini-cart
                div.inner-mini-cart
                    ul
                        li
                            a.wrapper-img(href="./product-details.html")
                                img(src="./images/mini-cart/1.jpg")
                            .product-info
                                h2
                                    a(href="./product-details.html") MASIERO Drylight S12 Outdoor Chandelier
                                span Quantity: 1
                        li
                            a.wrapper-img(href="./product-details.html")
                                img(src="./images/mini-cart/2.jpg")
                            .product-info
                                h2
                                    a(href="./product-details.html") MASIERO Drylight S12 Outdoor Chandelier
                                span Quantity: 1
                        li
                            a.wrapper-img(href="./product-details.html")
                                img(src="./images/mini-cart/2.jpg")
                            .product-info
                                h2
                                    a(href="./product-details.html") MASIERO Drylight S12 Outdoor Chandelier
                                span Quantity: 1
                        li
                            a.wrapper-img(href="./product-details.html")
                                img(src="./images/mini-cart/1.jpg")
                            .product-info
                                h2
                                    a(href="./product-details.html") MASIERO Drylight S12 Outdoor Chandelier
                                span Quantity: 1
                        li
                            a.wrapper-img(href="./product-details.html")
                                img(src="./images/mini-cart/2.jpg")
                            .product-info
                                h2
                                    a(href="./product-details.html") MASIERO Drylight S12 Outdoor Chandelier
                                span Quantity: 1
                    a.to-cart(href="./cart.html") View cart

    nav.nav
        .container
            ul
                li
                    div.sub-menu
                        ul
                            li
                                a.active(href="./category.html") Modern
                            li
                                a(href="./category.html") Baskets
                            li
                                a(href="./category.html") Antique
                            li
                                a(href="./category.html") Classic
                            li
                                a(href="./category.html") Maria Theresa
                    a.active(href="./category.html") Lighting
                li
                    div.sub-menu
                        ul
                            li
                                a(href="./category.html") Modern
                            li
                                a(href="./category.html") Baskets
                            li
                                a(href="./category.html") Antique
                            li
                                a(href="./category.html") Classic
                            li
                                a(href="./category.html") Maria Theresa
                    a(href="./category.html") Clocks
                li
                    div.sub-menu
                        ul
                            li
                                a(href="./category.html") Modern
                            li
                                a(href="./category.html") Baskets
                            li
                                a(href="./category.html") Antique
                            li
                                a(href="./category.html") Classic
                            li
                                a(href="./category.html") Maria Theresa
                    a(href="./category.html") Crystal Tableware
                li
                    div.sub-menu
                        ul
                            li
                                a(href="./category.html") Modern
                            li
                                a(href="./category.html") Baskets
                            li
                                a(href="./category.html") Antique
                            li
                                a(href="./category.html") Classic
                            li
                                a(href="./category.html") Maria Theresa
                    a(href="./category.html") Porcelain & China
                li
                    a(href="./category.html") About
                li
                    a(href="./category.html") Contact Us
            .search
                form.form-validate.search(name="formValidate" novalidate ng-controller="SearchCtrl")
                    .wrapper-search-block(ng-class="{'active':isOpenSearch==true}")
                        input(type="text" name="search" placeholder="Search" ng-model='dataForm.search' autocomplete="off" ng-focus="isOpenSearch=true" ng-blur="blurSearch(dataForm.search)")
                    button.send
                        span.fa.fa-search
                    button.send-button find
                    button(type="reset").fa.fa-close.close
