header.header
    .header-top
        .container
            a.logo(href="./") Touch of Europe
            .authentificition
                //a.sign-in(href="") Sign In
                // Последующие блоки a.private-office и ul.sub-links - выводить вместе
                a.private-office(href="./private-office.html") Ivan
                ul.sub-links
                    li
                        a(href="./private-office.html") Edit profile
                    li
                        form(method="post" action="#")
                            button Sign out
            .mini-cart
                a(href="")
                    span 0
                //если элементов больше 5, то добавляем класс div.inner-mini-cart
                div.inner-mini-cart
                    ul
                        li
                            a.wrapper-img(href="./product-details.html")
                                img(src="./images/mini-cart/1.jpg")
                            .product-info
                                h2
                                    a(href="./product-details.html") MASIERO Drylight S12 Outdoor Chandelier
                                span Quantity: 1
                        li
                            a.wrapper-img(href="./product-details.html")
                                img(src="./images/mini-cart/2.jpg")
                            .product-info
                                h2
                                    a(href="./product-details.html") MASIERO Drylight S12 Outdoor Chandelier
                                span Quantity: 1
                        li
                            a.wrapper-img(href="./product-details.html")
                                img(src="./images/mini-cart/2.jpg")
                            .product-info
                                h2
                                    a(href="./product-details.html") MASIERO Drylight S12 Outdoor Chandelier
                                span Quantity: 1
                        li
                            a.wrapper-img(href="./product-details.html")
                                img(src="./images/mini-cart/1.jpg")
                            .product-info
                                h2
                                    a(href="./product-details.html") MASIERO Drylight S12 Outdoor Chandelier
                                span Quantity: 1
                        li
                            a.wrapper-img(href="./product-details.html")
                                img(src="./images/mini-cart/2.jpg")
                            .product-info
                                h2
                                    a(href="./product-details.html") MASIERO Drylight S12 Outdoor Chandelier
                                span Quantity: 1
                    a.to-cart(href="./cart.html") View cart

    nav.nav
        ul.container
            li
                div.sub-menu
                    ul
                        li
                            a.active(href="") Modern
                        li
                            a(href="") Baskets
                        li
                            a(href="") Antique
                        li
                            a(href="") Classic
                        li
                            a(href="") Maria Theresa
                a.active(href="") Lighting
            li
                div.sub-menu
                    ul
                        li
                            a(href="") Modern
                        li
                            a(href="") Baskets
                        li
                            a(href="") Antique
                        li
                            a(href="") Classic
                        li
                            a(href="") Maria Theresa
                a(href="") Clocks
            li
                div.sub-menu
                    ul
                        li
                            a(href="") Modern
                        li
                            a(href="") Baskets
                        li
                            a(href="") Antique
                        li
                            a(href="") Classic
                        li
                            a(href="") Maria Theresa
                a(href="") Crystal Tableware
            li
                div.sub-menu
                    ul
                        li
                            a(href="") Modern
                        li
                            a(href="") Baskets
                        li
                            a(href="") Antique
                        li
                            a(href="") Classic
                        li
                            a(href="") Maria Theresa
                a(href="") Porcelain & China
            li
                a(href="") About
            li
                a(href="") Contact Us
