mixin breadcrumbs(arr)
    div.wrapper-breadcrumbs.container
        ul.breadcrumbs.animated.bounceInRight
            -var itteration=0;
            -var count=arr.length;
            each arrItem in arr
                if (itteration==count-1)
                    li
                        span #{arrItem}
                else
                    li
                        a(href="./") #{arrItem}
                - itteration++