.list-sub-categories
  margin: 0 auto 120px
  font-size: 0
  display: flex
  flex-wrap wrap
  > li
    dibt()
    margin-left: 28px
    width: 301px
    &:nth-child(3n+1)
      margin-left: 0
    .wrapper-img
      height: 301px
    > a
      display: block
      text-decoration: none
      text-align: center
      color: #444444
      padding: 20px 0