.filter-block
  .header-filter
    margin: 0 auto
    width: 1000px
    padding: 0 20px 52px
    background-color: #fff
    .title
      text-transform: uppercase
      text-align: center
      padding: 62px 0
      lt(30px)
      color: #010101
  .wrapper-list-products
    padding: 86px 0
    background-color: #000
    .list-products
      display: flex
      flex-wrap wrap

