.list-nav-categories
  padding: 76px 0
  background-color: #000
  font-size: 0
  ul
    > li
      margin-bottom: 20px
      dibt()
      &:nth-last-child(1), &:nth-last-child(2)
        > a
          &:after
            display: none
      > a
        dibt()
        position: relative
        z-index: 0
        &:hover
          &:after
            transform: scale(0, 1)
        &:after
          transform: scale(1)
          tn(.5s)
          display: block
          content: ''
          position: absolute
          width: 110px
          height: 1px
          z-index: 1
          bottom: -8px
          left: 50%
          margin-left: -55px
          background-color: #4d4d4d
        &:hover
          .wrapper-img
            transform: scale(.9)
            opacity: .4
          .wrapper-content
            span
              margin-top: 5px
              opacity: 1
            &:after, &:before
              transform: scale(1)
        .wrapper-content
          position: absolute
          z-index: 1
          width: 358px
          height: 200px
          left: 50%
          top: 50%
          margin-top: -100px
          margin-left: -177px
          span
            overflow hidden
            tn(.5s)
            margin-top: -15px
            opacity: 0
            aa(4)
            color: #fff
            display: block
            text-align: center
            ll(36px)
            white-space nowrap
          &:after, &:before
            tn(.5s)
            display: block
            content: ''
            position: absolute
            z-index: 3
            width: 100%
            height: 100%
            left: 0
            top: 0
          &:after
            border-right: 1px solid #818181
            border-left: 1px solid #818181
            transform: scale(1, 0)
            width: calc(100% - 2px)
          &:before
            height: calc(100% - 2px)
            border-top: 1px solid #818181
            border-bottom: 1px solid #818181
            transform: scale(0, 1)
        .wrapper-img
          tn(.5s)
          width: 477px
          height: 312px
          position: relative
          z-index: 0
          img
            max-width: 100%
            max-height: 100%
            aa(1)