.block-quentity-switchers
  position: relative
  z-index: 0
  .free-shipping
    position: absolute
    z-index: 1
    right: 0
    bottom: -21px
    color: #facb0c
    lr(15px)
  .left-btn, .right-btn
    position: absolute
    z-index: 1
    width: 22px
    height: 22px
    cursor pointer
    background-color: #7f7f7f
    &:after
      position: absolute
      z-index: 1
      top: 50%
      left: 50%
      tt(-50%, -50%)
      color: #fff
      faw()
    tn(.5s)
    &:hover
      background-color: #facb0c
  .left-btn
    left: 4px
    &:after
      content: "\f104"
  .right-btn
    right: 4px
    &:after
      content: "\f105"
  input
    border: none !important
    text-align: center
    display: block
    color: #fff
    lr(16px)
    width: 45px
    margin: 0 auto

.product-details
  .product-details-header
    background-color: #000
    .container
      position: relative
      z-index: 0
      after()
      .price-and-count
        .block-quentity-switchers
          margin-top: 30px
        .currency-list
          dibt()
          > li
            dibt()
            h2
              color: #7f7f7f
              lr(18px)
            &:nth-child(2)
              > span
                &:first-of-type
                  background-color: #fff
            > span
              white-space nowrap
              display: block
              &:first-of-type
                min-width 154px
                padding: 4px 24px 5px
                margin: 9px 0
                background-color: #808080
                > span
                  lr(30px)
                  dibt()
                  color: #000
            del
              color: #facb0c
              > span
                color: #facb0c
      .wrapper-img
        width: 50%
        position: absolute
        z-index: 0
        height: 100%
        left: 0
        top: 0
        img
          aa(1)
          max-width 95%
          max-height 95%
      .price-block
        padding-bottom: 54px
        width: 50%
        float: right
        padding-top: 66px
        h1
          color: #fff
          lt(30px)
          margin-bottom: 42px
        .price-and-count
          after()
          border-top: 1px solid #4d4d4d
          border-bottom: 1px solid #4d4d4d
          padding: 50px 0
      .wrapper-send
        margin: 58px 0 24px
        text-align: right
        .send
          dibt()
          width: 322px
          height: 45px
          background-color: #facb0c
          tn(.5s)
          color: #000
          ll(24px)
          &:before
            dibm()
            margin-right: 18px
            content: "\f07a"
            color: #fff
            faw(18px)
          &:hover
            background-color: #fedb4f
      .wrapper-more-info
        text-align: right
        a
          text-decoration: none
          color: #808081
          tn(.5s)
          dibt()
          &:hover
            color: #fedb4f
          &:after
            dibm()
            margin-left: 5px
            content: "\f178"
            faw(16px)
  .info-block
    padding: 54px 0 130px
    .container
      display: flex
    .product-details-info, .product-specifications
      width: 50%
      h2
        padding-bottom: 55px
        color: #000
        ll(24px)
        text-transform: uppercase
    .product-details-info
      padding-right: 30px
      p, ul > li
        color: #000
        lr(16px, 1.3)
      ul
        margin-top: 25px
    .product-specifications
      padding-left: 30px
      dl
        margin-bottom: 52px
        font-size: 0
        > *
          dibt()
          padding: 10px 0
          lr(16px)
          border-bottom: 1px solid #e5e5e5
        dt
          width: 160px
          padding-right: 12px
          color: #7f7f7f
        dd
          width: calc(100% - 160px)
          color: #000
      .pdf
        text-decoration: none
        background-color: #808080
        padding: 9px 16px 9px 38px
        color: #fff
        dibt()
        position: relative
        z-index: 0
        tn(.5s)
        &:hover
          background-color: #fedb4f
          color: #000
        &:after
          content: "\f1c1"
          position: absolute
          z-index: 1
          top: 9px
          left: 15px
          faw(18px)

.block-quentity-switchers
  float: right
  width: 97px
  height: 32px
  border: 1px solid #818181
  padding: 4px