html, body, .wrapper
  height:100%
body > .wrapper
  height:auto
  min-height:100%
  background-color:#fff
  padding-bottom:650px
  padding-top:95px
body
  background-color:#fff
.footer
  margin-top:-650px
.title-default
  color:#51565a
  br(36px)
.container
  margin:0 auto
  width:1000px
  padding:0 20px
.content-block-main
  padding:170px 0
  p
    margin-top:30px
    line-height:1.35
    img
      margin-right:20px
  h2
    margin-top:30px
    color:#000
    ll(24px, 1.35)
@media screen and (max-width:1100px)
  html, body
    overflow-x:hidden