//- index.jade
extends ../layout.jade
block breadcrumbs
    +breadcrumbs(['', 'Lighting'])
block content
    ul.list-sub-categories.container
        -var arr=[1,2,3,4,5];
        each image in arr
            li
                .wrapper-img
                    img(src="./images/sub-category/#{image}.jpg")
                a(href="./category") Modern
    ul.popular-products
        .container
            h1.title Popular products
            .slider.js_multislides.multislides
                .frame.js_frame
                    ul.list-products.slides.js_slides
                        li.item-product.js_slide
                            a.wrapper-img(href="./product-details.html")
                                img(src="./images/popular-products/1.jpg")
                            .wrapper-adv
                                a.add-to-cart
                                a.more(href="./product-details.html") learn more...
                            h2
                                a(href="./product-details.html") Escale
                            p
                                a(href="./product-details.html") Fluid Pendant Light
                            ul.price-block
                                li
                                    span USD
                                    span $10 000
                                    span $273.00
                                li
                                    span CAD
                                    span $10 000
                                    span $273.00
                        li.item-product.js_slide
                            a.wrapper-img(href="./product-details.html")
                                img(src="./images/popular-products/1.jpg")
                            .wrapper-adv
                                a.add-to-cart
                                a.more(href="./product-details.html") learn more...
                            h2
                                a(href="./product-details.html") Escale
                            p
                                a(href="./product-details.html") Fluid Pendant Light
                            ul.price-block
                                li
                                    span USD
                                    span $10 000
                                    span $273.00
                                li
                                    span CAD
                                    span $10 000
                                    span $273.00
                        li.item-product.js_slide
                            a.wrapper-img(href="./product-details.html")
                                img(src="./images/popular-products/1.jpg")
                            .wrapper-adv
                                a.add-to-cart
                                a.more(href="./product-details.html") learn more...
                            h2
                                a(href="./product-details.html") Escale
                            p
                                a(href="./product-details.html") Fluid Pendant Light
                            ul.price-block
                                li
                                    span USD
                                    span $10 000
                                    span $273.00
                                li
                                    span CAD
                                    span $10 000
                                    span $273.00
                        li.item-product.js_slide
                            a.wrapper-img(href="./product-details.html")
                                img(src="./images/popular-products/1.jpg")
                            .wrapper-adv
                                a.add-to-cart
                                a.more(href="./product-details.html") learn more...
                            h2
                                a(href="./product-details.html") Escale
                            p
                                a(href="./product-details.html") Fluid Pendant Light
                            ul.price-block
                                li
                                    span USD
                                    span $10 000
                                    span $273.00
                                li
                                    span CAD
                                    span $10 000
                                    span $273.00
                span.js_prev.prev.arrows-bg-slider
                span.js_next.next.arrows-bg-slider
    section.filter-block
        header.header-filter
            h1.title Narrow Your Results
        .wrapper-list-products
            .container
                ul.list-products
                    li
                        a.wrapper-img(href="./product-details.html")
                            img(src="./images/popular-products/1.jpg")
                        .wrapper-adv
                            a.add-to-cart
                            a.more(href="./product-details.html") learn more...
                        h2
                            a(href="./product-details.html") Escale
                        p
                            a(href="./product-details.html") Fluid Pendant Light dkfg dfgdfgfdg
                        ul.price-block
                            li
                                span USD
                                span $10 000
                                span $273.00
                            li
                                span CAD
                                span $10 000
                                span $273.00
                    each item in [1,2,3,4,5,6,7]
                        li
                            a.wrapper-img(href="./product-details.html")
                                img(src="./images/popular-products/1.jpg")
                            .wrapper-adv
                                a.add-to-cart
                                a.more(href="./product-details.html") learn more...
                            h2
                                a(href="./product-details.html") Escale
                            p
                                a(href="./product-details.html") Fluid Pendant Light
                            ul.price-block
                                li
                                    span USD
                                    span $10 000
                                    span $273.00
                                li
                                    span CAD
                                    span $10 000
                                    span $273.00
