//- index.jade
extends ../layout.jade
block breadcrumbs
    +breadcrumbs(['', 'About'])
block content
    section.block-content.contacts
        .container
            .left-block
                h1 Contact
                ul
                    li
                        span Lichtkultur GmbH Flösserstr. 19a 01139 Dresden
                    li
                        a(href="tel:+1-800-667-452") Australia: 1-800-667-452
                    li
                        a(href="tel:+1-888-642-8669") USA / Canada: 1-888-642-8669
                    li
                        a(href="tel:+49-351-84710961") +49-351-84710961
                    li
                        a(href="mailto:info@lightingdeluxe.com") info@lightingdeluxe.com
                    li
                        a(href="skype:SkypeUser?call") skype
                    li
                        span working time
            .text
                h1 Use the form below to contact us
                p A company representative will contact you promptly
                form.form-validate(name="formValidate" ng-controller="App.form.FormCtrl as vm" ng-init="vm.action='./controller.php'" novalidate)
                    div
                        input#name_contact(type="text" name="name_contact" ng-model='vm.dataForm.data.name' autocomplete="off" required)
                        label(for="name_contact")
                            span Name:
                    div
                        input#email_contact(type="email" name="email_contact" ng-model='vm.dataForm.data.email' autocomplete="off" required)
                        label(for="email_contact")
                            span Email:
                    div
                        input#subject_contact(type="text" name="subject_contact" ng-model='vm.dataForm.data.subject' autocomplete="off" required)
                        label(for="subject_contact")
                            span Subject:
                    div
                        textarea#msg_contact(type="text" name="msg_contact" ng-model='vm.dataForm.data.msg' autocomplete="off" required)
                        label(for="msg_contact")
                            span Message:
                    .wrapper-send
                        button.send(ng-click='vm.send(vm.dataForm,formValidate,vm.action)')
                            span Submit
                    input(type="hidden" name="task" ng-init='vm.dataForm.hidden.task="contacts"' ng-model='vm.dataForm.hidden.task')
    section.wrapper-map(ng-controller="App.map.GMapCtrl as vm")
        ui-gmap-google-map(center='{"latitude": 45.511559,"longitude":-75.69726}' zoom='10' options="vm.options")
            ui-gmap-marker(coords='{"latitude": 45.511559,"longitude":-75.69726 }' options="vm.marker.options" idkey="1" ng-init="vm.marker.options.icon='images/map-logo.png'")
