/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$arrow_left_name = 'arrow-left';
$arrow_left_x = 0px;
$arrow_left_y = 0px;
$arrow_left_offset_x = 0px;
$arrow_left_offset_y = 0px;
$arrow_left_width = 45px;
$arrow_left_height = 120px;
$arrow_left_total_width = 114px;
$arrow_left_total_height = 120px;
$arrow_left_image = '../images/sprite.png';
$arrow_left = 0px 0px 0px 0px 45px 120px 114px 120px '../images/sprite.png' 'arrow-left';
$arrow_prev_name = 'arrow-prev';
$arrow_prev_x = 98px;
$arrow_prev_y = 21px;
$arrow_prev_offset_x = -98px;
$arrow_prev_offset_y = -21px;
$arrow_prev_width = 13px;
$arrow_prev_height = 6px;
$arrow_prev_total_width = 114px;
$arrow_prev_total_height = 120px;
$arrow_prev_image = '../images/sprite.png';
$arrow_prev = 98px 21px -98px -21px 13px 6px 114px 120px '../images/sprite.png' 'arrow-prev';
$arrow_right_name = 'arrow-right';
$arrow_right_x = 49px;
$arrow_right_y = 0px;
$arrow_right_offset_x = -49px;
$arrow_right_offset_y = 0px;
$arrow_right_width = 45px;
$arrow_right_height = 120px;
$arrow_right_total_width = 114px;
$arrow_right_total_height = 120px;
$arrow_right_image = '../images/sprite.png';
$arrow_right = 49px 0px -49px 0px 45px 120px 114px 120px '../images/sprite.png' 'arrow-right';
$arrow_name = 'arrow';
$arrow_x = 98px;
$arrow_y = 0px;
$arrow_offset_x = -98px;
$arrow_offset_y = 0px;
$arrow_width = 16px;
$arrow_height = 17px;
$arrow_total_width = 114px;
$arrow_total_height = 120px;
$arrow_image = '../images/sprite.png';
$arrow = 98px 0px -98px 0px 16px 17px 114px 120px '../images/sprite.png' 'arrow';
$nav_arrow_name = 'nav-arrow';
$nav_arrow_x = 98px;
$nav_arrow_y = 31px;
$nav_arrow_offset_x = -98px;
$nav_arrow_offset_y = -31px;
$nav_arrow_width = 9px;
$nav_arrow_height = 5px;
$nav_arrow_total_width = 114px;
$nav_arrow_total_height = 120px;
$nav_arrow_image = '../images/sprite.png';
$nav_arrow = 98px 31px -98px -31px 9px 5px 114px 120px '../images/sprite.png' 'nav-arrow';
$select_arrow_name = 'select-arrow';
$select_arrow_x = 98px;
$select_arrow_y = 40px;
$select_arrow_offset_x = -98px;
$select_arrow_offset_y = -40px;
$select_arrow_width = 9px;
$select_arrow_height = 5px;
$select_arrow_total_width = 114px;
$select_arrow_total_height = 120px;
$select_arrow_image = '../images/sprite.png';
$select_arrow = 98px 40px -98px -40px 9px 5px 114px 120px '../images/sprite.png' 'select-arrow';
$spritesheet_width = 114px;
$spritesheet_height = 120px;
$spritesheet_image = '../images/sprite.png';
$spritesheet_sprites = $arrow_left $arrow_prev $arrow_right $arrow $nav_arrow $select_arrow;
$spritesheet = 114px 120px '../images/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
